.build-central-content {
  position: relative;
}

#frontViewEmpty,
.part-slot.frontViewEmpty {
  position: absolute;
  top: 60%;
  left: 15%;
  transform: translate(-50%, -60%);
  opacity: 1;
}

#case,
.part-slot.case{
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -60%);
  opacity: 1;
}

#frontFans,
.part-slot.frontFans {
  position: absolute;
  top: 66%;
  left: 10%;
  transform: translate(-50%, -65.5%);
  opacity: 1;
}

#backFans,
.part-slot.backFans {
  position: absolute;
  top: 100%;
  left: 90.5%;
  transform: translate(-50%, -105%);
  opacity: 1;
}

#frontWindow,
.part-slot.frontWindow {
  position: absolute;
  top: 62%;
  left: 10%;
  transform: translate(-50%, -62%);
  opacity: 1;
  z-index: 1;
}

#backWindow,
.part-slot.backWindow {
  position: absolute;
  top: 50%;
  left: 66.6%;
  transform: translate(-50%, -64%);
  opacity: 1;
  z-index: 2;
}

#backCover,
.part-slot.backCover {
  position: absolute;
  top: 62%;
  left: 89%;
  transform: translate(-50%, -62.5%);
  opacity: 1;
  z-index: 2;
}

#GPU,
.part-slot.GPU {
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -45%);
  opacity: 1;
  z-index: 1;
}

#CPU,
.part-slot.CPU {
  position: absolute;
  top: 50%;
  left: 66%;
  transform: translate(-50%, -130%);
  opacity: 1;
  z-index: 1;
}

#RAM,
.part-slot.RAM {
  position: absolute;
  top: 50%;
  left: 74%;
  transform: translate(-50%, -128%);
  opacity: 1;
  z-index: 1;
}

#PSU,
.part-slot.PSU {
  position: absolute;
  top: 50%;
  left: 77%;
  transform: translate(-50%, 27%);
  opacity: 1;
  z-index: 1;
}

#MOBO,
.part-slot.MOBO {
  position: absolute;
  top: 50%;
  left: 63%;
  transform: translate(-50%, -74%);
  opacity: 1;
}

#HDD,
.part-slot.HDD {
  position: absolute;
  top: 50%;
  left: 59%;
  transform: translate(-50%, 82%);
  opacity: 1;
}

#SSD,
.part-slot.SSD {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -135%);
  opacity: 1;
  z-index: 1;
}