.build-central-content {
  position: relative;
}

#case,
.part-slot.case{
  position: absolute;
  top: 0;
  left: 30vw;
  transform: translate(-50%, -50%);
  opacity: 1;
}


#backFans,
.part-slot.backFans {
  position: absolute;
  top: -15vh;
  left: 45vw;
  transform: translate(-50%, -50%);
  opacity: 1;
}


#backWindow,
.backWindow {
  position: absolute;
  top: -2vh;
  left: 27vw;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 2;
}

#backCover,
.backCover {
  position: absolute;
  top: -2vh;
  left: 46vw;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 2;
}

#GPU,
.part-slot.GPU {
  position: absolute;
  top: 10vh;
  left: 20vw;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 1;
}

#CPU,
.part-slot.CPU {
  position: absolute;
  top: -18vh;
  left: 27vw;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 1;
}

#RAM,
.part-slot.RAM {
  position: absolute;
  top: -17vh;
  left: 34vw;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 1;
}

#PSU,
.part-slot.PSU {
  position: absolute;
  top: 27vh;
  left: 36vw;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 1;
}

#MOBO,
.part-slot.MOBO {
  position: absolute;
  top: 0;
  left: 25vw;
  transform: translate(-50%, -60%);
  opacity: 1;
}

#HDD,
.part-slot.HDD {
  position: absolute;
  top: 30vh;
  left: 20vw;
  transform: translate(-50%, -50%);
  opacity: 1;
}

#SSD,
.part-slot.SSD {
  position: absolute;
  top: -20vh;
  left: 19vw;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 1;
}