.build-left-content.MuiContainer-root {
    position: relative; 
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    background-color: #95BF74;
    margin-top: 2rem;
    margin-bottom: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  
      .build-left-content h1 {
          font-size: 1.5rem;
          text-align: center;
          font-weight: bold;
          color: white;
          margin-bottom: 1rem;
          margin-top: 1rem;
      }

      .save-load-update-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        gap: 1rem;
      }

      .save-build.MuiButtonBase-root {
        height: 3rem;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1rem;
        border-radius: 5px;
        border: none;
        background-color: #A8D5E2;
        color: black;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
        transition: all 0.7s ease-in-out;
        filter: grayscale(100%);
        &:hover {
          transform: scale(1.05);
          background-color: #83e0fa;
          filter: grayscale(0%);
        }
      }

      .load-build.MuiButtonBase-root {
        height: 3rem;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1rem;
        border-radius: 5px;
        border: none;
        background-color: #A8D5E2;
        color: black;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
        transition: all 0.7s ease-in-out;
        filter: grayscale(100%);
        &:hover {
            transform: scale(1.05);
            background-color: #83e0fa;
            filter: grayscale(0%);
        }
      }

      .update-build.MuiButtonBase-root {
        height: 3rem;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1rem;
        border-radius: 5px;
        border: none;
        background-color: #A8D5E2;
        color: black;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
        transition: all 0.7s ease-in-out;
        filter: grayscale(100%);
        &:hover {
            transform: scale(1.05);
            background-color: #83e0fa;
            filter: grayscale(0%);
        }
      }

      .checkout.MuiButtonBase-root {
        height: 3rem;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1rem;
        border-radius: 5px;
        border: none;
        background-color: #A8D5E2;
        color: black;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
        transition: all 0.7s ease-in-out;
        filter: grayscale(100%);
        &:hover {
            transform: scale(1.05);
            background-color: #83e0fa;
            filter: grayscale(0%);
        }
      }

      .total-cost {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        border-radius: 5px;
        border: none;
        background-color: #36ca62;
        color: black;
        padding: 5px;
      }