.Footer.MuiPaper-root {
    background-color: #A8D5E2; // Primary color from our theme
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); // Optional: Adds a subtle shadow
  }
  
  // Additional styles for child components or specific sections can go here
  
  .Footer-links {
    display: flex;
    gap: 1rem;
  }

  .Footer-text {
    font-size: 1.5rem;
  }