.App-header.MuiPaper-root {
  &.MuiAppBar-root {
    flex-direction: column; // Changed to column to stack logo and nav vertically
    align-items: center; // Center items horizontally
  }

  .MuiToolbar-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    overflow: hidden; 
  }
  
  .App-logo {
    object-fit: cover; // Crop the logo while maintaining aspect ratio
  }

  .App-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 1%;
  }
}

.icons {
  // Styles for user and cart icons
}