.right-content.MuiContainer-root {
  overflow: auto; 
  min-height: calc(110vh);
  max-height: calc(110vh);   
  border-radius: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #fa9999
  }

    .right-content h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
    }