.central-content-products {
    max-height: calc(111vh);  
    overflow: hidden;
    min-height: calc(100vh - 5rem);  
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
    background-color: #fa9999;
    }
  
    .MuiGrid-container.MuiGrid-root{
      justify-content: center;
      align-items: center;
    }
      .central-content-products h1 {
          font-size: 2rem;
          margin-bottom: 1rem;
          text-align: center;
      }

      .pagination-buttons-products {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }