.user-dashboard-central-content {
    height: calc(120vh - 6rem);  // 100% of the viewport height minus the height of the header
    overflow-y: auto;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fa9999;
    }
  
    .MuiGrid-container.MuiGrid-root{
      justify-content: center;
      align-items: center;
    }
      .user-dashboard-central-content h1 {
          font-size: 2rem;
          margin-bottom: 1rem;
          margin-top: auto;
          text-align: center;
      }
      /* For Webkit browsers like Chrome/Safari */
      .user-dashboard-central-content::-webkit-scrollbar {
        width: 12px;  
      }
  
      .user-dashboard-central-content::-webkit-scrollbar-track {
        background-color: #F0F4F8; 
        border-radius: 10px;  
      }
  
      .user-dashboard-central-content::-webkit-scrollbar-thumb {
        background-color: #A8D5E2; 
        border-radius: 10px;  
        border: 2px solid #F0F4F8; 
      }
  
      .user-dashboard-central-content::-webkit-scrollbar-thumb:hover {
        background-color: #618B9E;  
      }
  
      /* For Firefox */
      .user-dashboard-central-content {
        scrollbar-width: thin;  
        scrollbar-color: #A8D5E2 #F0F4F8;  
      }
  